.navBar{
    background: #F3F1EA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:50px; 
    display:flex; 
    font-family: 'ChicagoFLFRegular';
    font-weight: normal;
    font-style: normal;
}
.navitem{
    margin-top: 1rem;
}
.nava{
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    padding-left: 2rem;
    color: #000000;
}
.navTime{
    right:2.5%; 
    position: absolute;
    margin-top: 1rem;
}
.navBar img{
    margin-left: 1.5%;
}





.menu{
    top:15%;
    right:3.5%;  
    height:100px; 
    position: absolute;
    display:flex; 
    flex-direction: column;
}

.item p{
    text-align: center;
    font-family: 'ChicagoFLFRegular';
    font-weight: normal;
    font-style: normal;
}
.menu-item4{
    padding-left: 10px;
}
 
.menu button{
    background: transparent;
    border: transparent;

}




/* Background text*/ 
.Background{
    position:absolute; 
    display:flex; 
    left: 10%;
    right:20%; 
    margin-top: 4rem;
}


.background-text{
    margin-top: 20px;
}
.background-img{
    height: 32rem;
    width: auto;
    float: right;
}
.background-heading{
    font-size:3.5rem; 
    color:#38465A; 
    font-family: 'ChicagoFLFRegular';
    font-weight: normal;
    font-style: normal;
}

/* footer */ 
.footer{
    position:relative;
    top:87%; 
}
.footer p{
    display: relative;
    text-align: center;
    font-family: 'ChicagoFLFRegular';
    font-weight: normal;
    font-style: normal;
}


/* readme page */
.readme{
    margin-top: 3rem;
    margin-left: 8%; 
    height:36rem; 
    width:80%;
    background-color: #fff;
    border: 1px solid #000000;
    position:absolute;
}

.topbar{
    width:100%; 
    margin-top: 0;
}

.bottombar{
    bottom: 0px;
    position:absolute; 
    width:100%;
     
}

.middlebar{
    height:100%;
    position:relative; 
    width:6%; 
}