
.box{
    overflow: scroll;
    max-height: 70vh;  
    -ms-overflow-style: none;
    /* padding-right: 8em;  */
    display: block;
    /* min-width: 50em; */
}

.box::-webkit-scrollbar{
    display: none;
}
.projectImg{
    width:fit-content;
}
.icon{
   width:25em;
}

.link{
    color:#000; 
    text-decoration: none;
    float:right; 
    font-family: monospace;
}
.container{
    visibility: hidden;
    display: block;
    height:10px;
}

.project:hover .container{
    visibility: visible;
}

.title{
    display: flex;
}


.bigTitle{
    font-family: monospace;
}


.selection{
    margin-top: 2em;
    margin-left: 2em;
    height: 2em;
    width: 11em;
    border-radius: 8px;
    font-family: monospace;
    padding-left: 2em;
}

.project{
    padding-right:5%; 
    margin-bottom: 3em;
    min-width: 60%;
    display:flex;

}

.underline{
  position: absolute;
  top:80px;
  width: 225px;
  left:510px; 
}

.projectTitle{
    display: flex;
    justify-content: space-between;
}
.title{
    font-family:  monospace;
}

.text{
    font-family:  monospace;
}

.applicationTools{
    height: fit-content;
    
}
.tools{
    background-color:#6B8C7E;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    display: inline-flexbox; 
    justify-content: space-around;
    color:#fff; 
}

.icons{
    text-decoration: none;
    color: black;
    font-family: monospace;
    margin-right: 5px;
    border-radius: 10px;
    border:2px solid #6B8C7E;
    padding:6px; 
}

.icons:hover{
    background-color: #6B8C7E;
   
}

.icon:hover{
    text-decoration: underline;
}

.iconImage{
    width:2rem; 
    /* margin-right: 10px; */
    /* margin-top: 3px; */
    position:relative;
    top:8px 
}

.iconTitle{
    padding-left: 10px;
}

@media (max-width: 1200px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .underline{
        position: absolute;
        left:72px; 
        top:875px;
    }
    .box{
        overflow: scroll;
        max-height: auto;   
        -ms-overflow-style: none;
        /* padding-right: 8em;  */
        display: block;
        /* min-width: 50em; */
    }

  }

