.container {
    /* max-width: 36rem; */
    padding: 0 3rem;
    margin: 3rem auto 6rem;
    display:inline-flex;
    height:90vh; 
  }

  .vertical{
    border-left:1px solid black; 
    height:90vh; 
    overflow-y:auto;
   
  }

  .content{
    padding: 0em 2em 0em 2em;
  }

  @media (max-width: 1000px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .container {
      /* max-width: 36rem; */
      padding: 0 3rem;
      display:inline-block;
    }

    .vertical{
      /* border-left:1px solid black;  */
      border-top: 1px solid black;
      height:0;
      width: 80vh;
      overflow-x:auto;
      margin-top: 80px;
      /* margin-right: 2em; */
    }

  }