@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.contact{
    display: flex; 
    padding-bottom: 5px;
  }
  
  .contact a{
    margin-right: 2em;
    text-decoration:none; 
    color:#27283A;
    font-family: 'Space Mono', monospace;
    font-weight: 400;

  }
  
  .contact a:hover{
    text-decoration: underline;
  }
  
  .intro{
    display:block;
    max-width: 380px;
    padding: 0em 2em 2em 2em;
    max-height: 80vh;
  }

  .item{
    margin-top: 10px;
    margin-bottom: 15px;
  }

  
  .links a{
    text-decoration:none; 
    color:#27283A;
  }
  
  .links a:hover{
    text-decoration: underline;
  }

 .intro p{
    line-height: 1.6;
    font-family: 'Space Mono', monospace;
  }

  .links{
    text-decoration: none;
    color:#27283A; 
    margin:0px;
    margin-top: 10px;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
  }


  .selectedLink{
    text-decoration-thickness: 2px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 70%, rgba(255, 191, 28, 1) 30%, rgba(255, 191, 28, 1) 20%);
  }

  .item img{
    width: 8%;
    margin-left:5px;
  }

  .intro h2{
    color:#27283A; 
  }

  .intro p{
    color:#27283A;
  }

  .text-with-underline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .text-with-underline h2 {
    margin-bottom: 0px;
  } */

  .underline {
    width: 120px; /* Adjust the width as needed */
    left: 310px;
    top:98px;
    position: absolute; 
    z-index: -1;
  }

  .underline2{
    position: absolute;
    top:244px;
    z-index:-1;
  }

  .underline3{
    position: absolute;
    top:266.5px;
    left:120px;
    z-index:-1; 
    width:300px; 
  }

  .title h2{
    margin-bottom: 0px;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
  }

  .nav{
    display:flex; 
    flex-direction: column;
    align-items: center;
  }

  .circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7{
    position: absolute;
    width: 150px;
    left: 60px;
  }

 
  .circle3{
    width:280px;
    height:90px; 
    left:30px;
    transform:rotate(12deg) ;
  }

  .circle4{
    padding-top: 5px;
  }

  .circle5{
    width:180px;
    height:85px;
    left:70px; 
    transform:rotate(12deg) ;
  }

  .circle6{
    width:300px;
    height:90px; 
    left:15px;
    transform:rotate(12deg) ;
  }

  .circle7{
    width:180px;
    height:80px; 
    left:70px;
    transform:rotate(13deg)
  }


  @media (max-width: 1200px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .intro{
    
      padding: 0em 2em 6em 2em;

    }
  

  }