.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh; /* Full height of the viewport */
  padding:1rem; 
}

.left,
.right {
  flex: 1 1 50%; /* Each div takes up 50% of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .left,
  .right {
    flex: 1 1 100%; /* Each div takes up 100% of the container */
    height: 50%; /* Each div takes up 50% of the height */
  }
}
  
 
 