.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}


.contact{
  display: flex; 
}

.contact a{
  margin-right: 8px;
  text-decoration:none; 
  color:#000;
}

.contact a:hover{
  text-decoration: underline;
}

.intro{
  display:block;
  max-width: 350px;
}

.deco{
  /* text-decoration: underline;
  text-decoration-color: #FFBF1C; */
  text-decoration-thickness: 5px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(255, 191, 28, 1) 40%, rgba(255, 191, 28, 1) 100%);
}

.links{
  text-decoration: none;
  color:#000; 
  margin:0px;
  margin-top: 5px;
}

.links img{
  width: 8%;
  margin-left:5px;
}

.links a{
  text-decoration:none; 
  color:#000;
}

.links a:hover{
  text-decoration: underline;
}
