@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.box{
    overflow: scroll;
    max-height: 80vh;  
    -ms-overflow-style: none;
    padding-right: 8em;
}

.box::-webkit-scrollbar{
    display: none;
}
.bigTitle{
    font-family: 'Space Mono', monospace;
}

.container{
    visibility: hidden;
    display: block;
    height:10px;
}

.link{
    color:#000; 
    text-decoration: none;
    float:right; 
}

.jobs{
    color:black; 
    font-family: 'Space Mono', monospace;
    padding-bottom: 20px;
}


.jobs:hover .container{
    visibility: visible;
}

.link:hover{
    display: block;
    text-decoration: underline;
}

.jobTitle{
    text-decoration: none;
    margin-bottom: 0px;
    color:#000;
}

.jobTitle:hover{
    text-decoration: underline;
}

.jobDetail{
    display: flex;
    justify-content: space-between;
}

.jobDescription{
    margin-top: 0px;
    line-height: 1.2;
}

.underline{
    position: absolute; 
    top:80px;
}

@media (max-width: 1000px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .underline{
        top:875px;
    }

  }